/* CSS File for index.html */

/* For the title ID, the box with "Formula 1 2023 Season Predictions */
#title {
  font-family: "monaco", monospace;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  background-color: white;
  border: 10px solid;
  border-color: #ff1801;
  background-color: #c6c6c6;
  margin: auto;
  height: 15%;
  padding: 5px;
}

/* For the two columns under the title ID */
.column {
  display: grid;
  grid-template-columns: 25% 75%;
  border-left: 10px solid;
  border-right: 10px solid;
  border-color: #ff1801;
  background-color: #c6c6c6;
  font-family: "monaco", monospace;
  font-size: 15px;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

/* For any text tagged as h2 */
h2 {
  text-align: center
}

/* For the box that has "are you ready to make predictions" and a button */
#footer {
  font-family: "monaco", monospace;
  font-size: 15px;
  text-align: left;
  line-height: 1;
  border: 10px solid;
  border-color: #ff1801;
  background-color: #c6c6c6;
  margin: auto;
  height: 5%;
  padding: 10px;
}

/* To style the "I'm ready to make my predictions!" button */
#clickButton {
  background-color: #80142b;
  text-align: center;
  color: white;
  font-family: "monaco", monospace;
  font-style: bold;
  padding: 15px 15px;
}

/* For the left column in the body section containing text and an image of Max Verstappen */
.content {
  background-color:#c6c6c6;
  border: 10px solid;
  border-color: #ff1801;
  padding: 15px;
}

/* Used to style Max Verstappen's image on the left column */
.maxImage {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* For the right column in the body section containing the line chart and some text */
#rightColumn {
  background-color: #c6c6c6;
  font-family: "monaco", monospace;
  font-size: 17px;
  font-weight: bold;
  line-height: 0.75;
  padding: 10px;
  border-left: 10px solid;
  border-color: #ff1801;
}

/* For the small texts that appear: submission requirements in the title id and under the chart */
#tip {
text-align: right;
font-size: 10px;
}

.lineChart {
    max-width: 1000px;
    max-height: 600px;
    margin: 20px auto;
  }
